.main-signup {
  background: linear-gradient(180deg, #cee5fd, #fff);
}

.Signup-form {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  margin-top: 50px;
  margin-left: 470px;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.Signup-form input,
.Signup-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.Signup-form button {
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.Signup-form button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.Signup-form p {
  color: red;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.main-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-content {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.dashboard-content h1 {
  margin-bottom: 20px;
}

.dashboard-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dashboard-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}

.dashboard-box {
  text-align: left;
  margin-top: 20px;
}

.dashboard-box h2 {
  margin-bottom: 10px;
}

.dashboard-box table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.dashboard-box th,
.dashboard-box td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.dashboard-box th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.dashboard-box td {
  background-color: #fff;
}

.dashboard-box button {
  padding: 5px 10px;
  color: #fff;
  background-color: #ff4d4d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dashboard-box button:hover {
  background-color: #ff0000;
}


